html {
	background-color: #f8f9fa;
}

.layout-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
}

.layout-topbar .menu-toggle img {
	width: 25px;
}


.layout-topbar .menu-toggle {
	margin-left: 10px;
	margin-right: 23px;
}

.layout-topbar  {
	background-color: #78b8d2
}


.ui-breadcrumb .ui-menu-item-text {
    text-indent: 20px;
    color: red;
    font-size: 36px;
    text-align-last: right;
}

.logo {
    height: 60px;
}